body {
    margin: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
    grid-template-rows: 75px 300px 300px 300px 300px;
    grid-gap: 20px;
    background-color: white;
    background-image: url(/Images/background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  nav {
    border: 5px solid #224968;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/5;
  }
  
  
  .navHelp {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
  }
  
  nav a {
    color: white;
    grid-column: 3/4;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    font-size: 30px;
  }

  nav a:hover {
    color: lightgray;
  }
  
  .body1 {
    background-color: rgba(0, 0, 0, 0.30);  
    border: 5px solid #224968;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 15px;
    font-size: 30px;
  }
  
  .body2 {
    background-color: rgba(0, 0, 0, 0.30); 
    border: 5px solid #224968;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 30px;
    grid-column: 3/4;
  }

  .body3 {
    background-color: rgba(0, 0, 0, 0.30); 
    border: 5px solid #224968;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4; 
    grid-row: 4/5; 
    padding: 15px;
    font-size: 30px;
  }
  
  
  .body4 {
    background-color: rgba(0, 0, 0, 0.30); 
    border: 5px solid #224968;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4; 
    grid-row: 5/6; 
    padding: 15px;
    font-size: 30px;
  }
  

  .gallery {
    background-color: rgba(0, 0, 0, 0.30); 
    border: 5px solid #224968;
    border-radius: 8px;
    grid-column: 4/5;
    grid-row: 2/7; 
    padding: 0px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;
  }
  
  .gallery img {
    border: 5px solid #224968;
    border-radius: 8px;
    width: 250px;
    height: auto;
    margin: 10px;
  }

  .gallery img:hover {
    border: 5px solid #316691;
  }

  .news {
    background-color: rgba(0, 0, 0, 0.30); 
    border: 5px solid #224968;
    border-radius: 8px;
    grid-column: 2/3;
    grid-row: 2/5; 
    padding: 5px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  