/*Font input*/
@font-face {
  font-family: RaceSport;
  src: url(Fonts/RaceSport.ttf);
}

@font-face {
  font-family: CenturyGothic;
  src: url(Fonts/CenturyGothic.ttf);
}

body {
  margin: 10px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
  grid-gap: 20px;
  background-color: white;
  background-image: url(/Images/background1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*Navigation bar styles and grid location*/
nav {
  border: 5px solid #224968;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 2/5;
}


/*Nagiation link styles*/
nav a {
  font-family: RaceSport;
  color: white;
  grid-column: 3/4;
  text-align: center;
  margin: 15px;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: #316691;

}

/*Drop down box for history and mods navigation text*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-text {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, .9);
  border: 5px solid #224968;
  border-radius: 10px;
  animation-duration: 0.4s;
  animation-name: slide-down;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size: 15px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Animation for dropdown box*/
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*shows what tab you are own via chanigng the colour*/
#currentTab {
  color: #316691;
}

/*Body1 Styles*/
.body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 15px;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  align-items: center;
}

/*Body 2 styles*/
.body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  grid-column: 3/4;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  align-items: center;
}
 /*Body 4 styles*/
.body3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 4/5;
  padding: 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  align-items: center;

}

/*Body 5 styles*/
.body4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 5/6;
  padding: 15px;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  align-items: center;
}

/*Easily changable styles across multiple ui, so if i want to adjust background opactiy i dont have to go through multiple style edits*/
.body1,
.body2,
.body3,
.body4,
.gallery,
.leftBar {
  font-family: CenturyGothic;
  background-color: rgba(0, 0, 0, .50);
  border: 5px solid #224968;
  border-radius: 10px;
  max-width: 90%;
  max-height: 100%;
  font-size: 20px;
  overflow: auto;
}

/*Gallery styles */
.gallery {
  font-family: RaceSport;
  grid-column: 4/5;
  grid-row: 2/6;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: visible;
  
}
/*Gallery image styles*/
.gallery img {
  border: 5px solid #224968;
  border-radius: 8px;
  width: 80%;
  height: auto;
  margin: 10px;
  transition: all 0.3s
}

/*Responsivness for gallery images */
@media (max-width: 600px) {
  .gallery img {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .gallery img {
    width: 60%;
  }
}

.gallery img:hover {
  border: 5px solid #316691;
  transform: scale(1.03);

}

/*left side bar styles*/
.leftBar {
  font-family: RaceSport;
  grid-column: 2/3;
  grid-row: 2/6;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
 

/*Bottom ui styles*/
.footer {
  grid-column: 2/5;
  grid-row: 6/7;
  background-color: rgba(0, 0, 0, .50);
  border: 5px solid #224968;
  border-radius: 8px;
  text-align: center;
  text-decoration: underline;

}
/*253-300 is history "showmore" button*/
#start.collapse,
#dtmHistory.collapse { /*Set how much text shows default before showmore is clicked*/
  max-height: 100px;
  overflow: hidden;
}

#start.expanded,
#dtmHistory.expanded {
  max-height: none;
}

.paragraph-wrapper {
  position: relative;
}

.expandable-paragraph {
  font-family: CenturyGothic;
  border-radius: 10px;
  max-width: 100%;
  max-height: none;
  font-size: 20px;
  overflow: auto;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.button-read-more-less {
  background-color: #224968;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.button-read-more-less:hover {
  background-color: #316691;
}

.body3 .expandable-paragraph {
  max-height: 100px;
  overflow: hidden;
}

.body3 .expandable-paragraph.expanded {
  max-height: none;
}

.body4 .expandable-paragraph {
  max-height: 25px;
  overflow: hidden;

}

.body4 .expandable-paragraph.expanded {
  max-height: none;
}





.read-more-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-read-more-less:hover {
  background-color: #316691;
}



/*history table styles*/
table {
  width: 80%;
  height: 60%;
  border-collapse: collapse;
  font-size: 14px;
}


th {
  background-color: rgba(0, 0, 0, .50);
  border: 1px solid #ccc;
  padding: 10px;
}


td {
  padding: 10px;
  border: 1px solid #ccc;
}


tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .50);
}

.timeline {
  list-style: none;
  padding: 0;
}
/*Left side bar styles*/
.timeline li {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: CenturyGothic;
}

.year {
  font-size: 14px;
  font-family: RaceSport;
}
/*Mods buttons for information*/
.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
}
/*button styles*/
.buttons-wrapper button {
  border-radius: 10px;
  font-family: CenturyGothic;
  font-size: 12px;
  background-color: #224968;
  color: white;
  padding: 4px 10px;
  border: 1px solid transparent;
  transition: all 0.3s;

}
.body1 .buttons-wrapper button {
  padding: 10px 10px;
}



.buttons-wrapper button:hover {
  transform: scale(1.075);
  /* enlarging the buttons when hover */
}

.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #f9f9f9;
}

.content {
  display: none;
  padding: 10px;
  font-size: 16px;
}

.info {
  word-wrap: break-word;
}

.body1 h3,
.body2 h3,
.body3 h3,
.body4 h3 {
  text-align: center;
  font-family: CenturyGothic;

}
/*Image styles for left bar (used for mods.html)*/
.leftBar img {
  width: 75%;
  transition: all 0.3s;
  margin-top: 10px;
  border: 4px solid #224968;
  border-radius: 5px;

}
/*on hover inlargen animation*/
.leftBar img:hover {

  transform: scale(1.05);
}

.leftBar h3 {
  font-size: 22px;

}

/*Index fast facts styles*/

.fast-facts {
  list-style: none;
  padding: 0;
}

.fast-facts li {
  margin-bottom: 20px;
}

.fact-year {
  font-size: 12px;
  color: white;
}

.fast-facts p {
  margin: 5px 0;
  font-size: 12px;
  font-family: CenturyGothic;
}